p {
	color: black;
	font-family: "Helvetica", Palatino, serif;
	color: hotpink;
	font-size: 1rem;
	line-height: 2rem;
}

h1{
	font-family: "Oswald", Courier, Arial, sans-serif;
	font-style: italic;
	color: rgb(25, 82, 194);
	font-size: 3rem;
	line-height: 1.5rem;
    background-color: rgb(226, 105, 176);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#button a:link, #button a:visited {
	padding: 5px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color:rgb(25, 82, 194);
	display:block;
	text-align: center;
	text-decoration: none;
}

#container{
	background-color: #ffffff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#nav{
    padding: 0;
	list-style-type: none;
    display: flex;
  flex-flow:column;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: lightblue;
    background-color: rgb(226, 105, 176);
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#nav a:hover, a:active {
    background-color: lightblue;
}

.joke{
	font-family: "Oswald", Courier, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(25, 82, 194);
}

.navigation{
  list-style: none;
  background: gray;
  margin:0;
  padding: 0;
}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

@media (min-width:800px){
#nav {
  flex-flow: row;
}

.navigation{
  flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation a{
  border-top:none;
  border-bottom:none;
}
.navigation a:hover{
  background:black;
}

.first {
  margin-right: auto;
}

.main{
  display:flex;
  flex-flow:row;
}

.aside-1{
  background: gold;
}

.aside-2{
  background: hotpink;
}

}

/*We need to tell the browser we want to work with flex*/
.wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}
