p {
	color: black;
	font-family: Helvetica, Georgia, serif;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
}

#container {
	background-color: #ffffff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: hotpink;
    background-color: lightpink;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: lightblue;
}

.joke {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;

}