p {
	color: black;
	font-family: Palatino, Georgia, serif;
	color: hotpink;
}

h1 {
	font-family: Courier, Arial, sans-serif;
	font-style: italic;
	color: rgb(25, 82, 194);
	font-size: 3.25em;
    background-color: rgb(226, 105, 176);
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

#container {
	background-color: #ffffff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: lightblue;
    background-color: rgb(226, 105, 176);
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: lightblue;
}

.joke {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(25, 82, 194);

}