p {
	/*color:	red;*/
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: Georgia, "Times New Roman", serif;
}

body {
	background-color: #ebe3c3;
}

#nav a:link, a:visited {
	display: block;
	color: #ffffff;
	background-color: #98bf21;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
}