p {
	color: black;
	font-family: "Playwrite NZ Basic Guides", Palatino, serif;
	color: hotpink;
	font-size: 1rem;
}

h1{
	font-family: "Oswald", Courier, Arial, sans-serif;
	font-style: italic;
	color: rgb(25, 82, 194);
	font-size: 2rem;
	line-height: 1.5rem;
    background-color: rgb(226, 105, 176);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#button a:link, #button a:visited {
	padding: 5px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color:rgb(25, 82, 194);
	display:block;
	text-align: center;
	text-decoration: none;
}

#container{
	background-color: #ffffff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#nav{
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: lightblue;
    background-color: rgb(226, 105, 176);
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#nav a:hover, a:active {
    background-color: lightblue;
}

.joke{
	font-family: "Oswald", Courier, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(25, 82, 194);
}
